.address-box{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}
@media screen and (min-width:768px){
    .address-box{
        border-right: 5px solid black;
        border-bottom: 0px;
    }
}